.montserrat-hpb {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .open-sans-hpb {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  

#app .v-theme--light {
    color: #4c4c4c;
}
.hpb-table {
    width: 100%;
    font-size: .95em;
    
}
.hpb-table th {
    font-weight: normal;
}
.hpb-table td {

    font-weight: normal;
    padding: 2px;
}
.account-menu {
    background-color: #333;
    color: #fff;
}
.bs-menu {
    background-color: #333;
    color: #fff;
    width: 250px;
    border-radius: 8px;
}
.hpb-table-border-bottom td, .hpb-table-border-bottom th {
    border-bottom: 1px solid #ddd;
}
.profile-tbl td {
    padding: 10px
}

.hp-date input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}
.hp-head {
    background-color: #1293a6;
    padding: 5px;
    color: #fff;
}
.td-even {
    background-color: #f5f5f5;
}
.nav-list-text {
    color:#efae58;
}
.v-toolbar-title__placeholder{
    font-size:  .7em;
}
.text-cancelled-lined {
    color: #999;
    text-decoration: line-through;
}
.small-font {
    font-size:.85em;
}
.amount_input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    font-weight: bold;
}
.text-info {
    color: #1293a6;
}
.text-gray {
    color: #ccc;
}
.text-vblue {
    color: #1685b3;
}
.text-vbrown {
    color: #e28743
;
}
.bs-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.tree {
  --spacing: 1.5rem;
  --radius: 10px;
  font-size:.85em;
}

.tree li {
  display: block;
  position: relative;
  
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #ddd;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ddd;
}

.tree summary::before {
  z-index: 1;
  background: #696 url('expand-collapse.svg') 0 0;
}

.tree details[open] > summary::before {
  background-position: calc(-2 * var(--radius)) 0;
}
.pagehero {
  background: url('@/assets/bsbg3.png') no-repeat  center top;
  
  min-height: 500px;
  color: #fff;

}
.hero {
  background: url('@/assets/bsbg3.png') no-repeat  left bottom;
  
  min-height: 500px;
  color: #fff;

}